            <!-- form handing -->
            <form action="/api/inventory" method="POST" id="add_inventory">
                <div class="new_inventory">
                    <div class="form-group">
                        <label for="name" class="text-dark">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter Inventory Here">
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="text-dark">Quantity</label>
                        <input type="number" name="quantity" oninput="value=value.replace('-', '')" value="" placeholder="Enter Quantity Here">
                    </div>
                    <div class="form-group">
                        <label for="price" class="text-dark">Unit Price</label>
                        <input type="number" name="price" oninput="value=value.replace('-', '')" value="" step="0.1" placeholder="Enter Price Here">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-light update">Save</button>
                    </div>
                </div>
            </form>